html {
	height: 100%;
}

body {
    Font-family: "Raleway", serif;
    color: gray;
    Overflow-x : hidden;
}


label {
    display: block;
    cursor: pointer; 
    color: black;
    margin-left: 20px;
    margin-right: 400px; 
	margin-top: 20px;
	
}


#toggle {
margin-left: -50px;

width: 50px;
}

.nav {
	Background: transparent;
	
position: absolute;
top: 0;
left: 0;
height: 7%;
z-index: 1;
width: 100%;
/*opacity: 0.8;*/
}

.menu {
text-align: center;
width: 100%;
height: 600px;
display: none;
background: black;
padding-top: 90px;
opacity: 0.8;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;


}

.menu a {
    display: block;	
    margin-top: 10px;
    margin-bottom: 15px;
    /*opacity: 0.8;*/
    color: white;
    width: 100%;
    text-decoration: none;
}

.menu a:hover {
color: #8ec5fc;
}

#toggle:checked + .menu{
display: block; 

}

#container {
height:100%;

}

p {
	padding-left: 20%;
}
.read {
	border-radius: 10px;
	color: #ACB6E5;
background: white;
	width: 50%;
	height: 5%;
	
	margin-left: 25%;
	cursor: pointer;
	margin-bottom: 20px;
	margin-top: 20px;
	
	padding: 15px;
	box-shadow: 20px;
	box-shadow: #654ea3;

}

.read a {
	text-decoration: none;
	color: #ACB6E5;
	text-align: center;
	font-size: 16px;
	
}

.london {
	border-radius: 10px;
	color: #ACB6E5;
background: white;
	width: 50%;
	height: 5%;
	padding: 15px;
	margin-top: 20px;
	margin-left: 25%;
	margin-bottom: 50px;
	cursor: pointer;
	box-shadow: 2px;

}

.london a {
	text-decoration: none;
	color: #ACB6E5;
	text-align: right;


}


.read:hover {
	cursor: pointer;
	box-shadow: #DCDCDC;
}

.london:hover {
	cursor: pointer;
}


span:before {
	content: 'Bringing social prescribing to you';
	animation: animate infinite 8s;
	margin-left: 35%;
color: gray;
	font-size: 22px;
	width: 50%;
}

@keyframes animate {
	0% {
		content: 'Bringing social prescribing to you';

	}

	25% {
		content: 'Culturally inclusive insights to health';
	}

	50% {
		content: 'Valuing our users';
	}

	75% {
		content: 'Culturally inclusive insights to health';
	}

	100% {
		content: 'Valuing our users';
	}

}

.fa {
	margin-top: 2px;
	
	text-align: center;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
  }

  /* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
  }


  .fa-linkedin {
    background: #007bb5;
	color: white;
	
  }

  .fa-facebook {
  background: #3B5998;
  color: white;
}